* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --black: black;
  --ocean: #404bbf;
  --white: #ffffff;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --green: #31d0aa;
  --lightslate: #8e8f99;
  --navybluemodal: #2e2f42;
  --grey: #2e2f42;
  --dairy: #fcfcfc;

  --transition-duration: 250ms;
}

/* Global Declaration */

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
}
address {
  font-style: normal;
}
button {
  border: unset;
}
img {
  display: block;
  width: 100%;
}
figure {
  margin: 0;
}
.container {
  width: 1158px;
  margin: 0 auto;
  flex-shrink: 0;
}
input,
textarea {
  outline: none;
}

/*Header*/

.header-section {
  border-bottom: 1px solid var(--cornflower);
  background: var(--white);
  padding: 24px 0;
}
.container-header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header Nav */

.header-nav {
  display: inline-flex;
  gap: 76px;
}

/* Logo */

.container-logo {
  display: inline-flex;
  align-items: center;
}
.logo {
  text-decoration: none;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-web {
  color: var(--iris);
}
.logo-studio {
  color: var(--navyblue);
}

/* Header Nav Menu */

.header-nav-menu {
  list-style: none;
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}
.header-nav-menu-item {
  display: flex;
  position: relative;
}
.header-nav-menu-item.active .header-nav-menu-item-link {
  color: var(--ocean);
}
.header-nav-menu-item.active .header-nav-menu-item-link::after {
  width: 100%;
}
.header-nav-menu-item-link {
  color: var(--navyblue);
  text-decoration: none;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.32px;

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-menu-item-link::after {
  content: "";
  height: 4px;
  width: 0;
  background-color: var(--ocean);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -25px;

  transition-property: width;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-menu-item:hover .header-nav-menu-item-link::after {
  width: 100%;
}
.header-nav-menu-item:hover .header-nav-menu-item-link {
  color: var(--ocean);
}
.header-nav-menu-item:focus .header-nav-menu-item-link {
  color: var(--ocean);
}
.header-nav-menu-item:active .header-nav-menu-item-link {
  color: var(--ocean);
}

/* Header Address */

.adress-detail-list {
  list-style: none;
  display: flex;
  gap: 40px;
}
.adress-detail-list-item-link {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  color: var(--slate);
  text-decoration: none;

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-detail-list-item-link:hover {
  color: var(--ocean);
}
.adress-detail-list-item-link:focus {
  color: var(--ocean);
}
.adress-detail-list-item-link:active {
  color: var(--ocean);
}

/* Index Main Body */

/* Hero Section */

.container-hero {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.hero {
  display: flex;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.6),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: 1440px, 1440px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--navyblue);
}
.main-page-header {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  line-height: 1.07em;
  letter-spacing: 1.12px;
}
.button-order-services {
  padding: 16px 32px;
  margin: 0 auto;

  cursor: pointer;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  color: var(--white);

  transition-property: background, border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order-services:hover {
  background: var(--ocean);
  border-color: var(--ocean);
}
.button-order-services:focus {
  background: var(--ocean);
  border-color: var(--ocean);
}
.button-order-services:active {
  background: var(--ocean);
  border-color: var(--ocean);
}

/* Feature Section */

.section-features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container-features {
  display: flex;
}
.section-features-title {
  display: none;
}
.feature-list {
  list-style: none;
  display: inline-flex;
  gap: 24px;
}
.feature-list-item {
  width: 264px;
}
.svg-features {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  padding: 24px 100px;
  border-radius: 4px;
  background-color: var(--cloud);
  margin-bottom: 8px;
}
.feature-list-item-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.4px;
  color: var(--navyblue);
}
.feature-list-item-body {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
}

/* What are we doing Section */

.container-services {
  display: block;
}
.section-services {
  padding-bottom: 120px;
}
.services-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.section-services-title {
  margin-bottom: 72px;
  color: var(--navyblue);
  text-align: center;

  font-size: 36px;
  line-height: 1.11em;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/* Our Team Section */

.container-team {
  display: block;
}
.section-team {
  background-color: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-team-title {
  text-align: center;
  margin-bottom: 72px;
  color: var(--navyblue);

  font-size: 36px;
  line-height: 1.11em;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.team-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  list-style: none;
}
.team-list-item {
  display: block;
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.container-team-list-content {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-list-item-title {
  margin-bottom: 8px;
  text-align: center;
  color: var(--navyblue);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.4px;
}
.team-list-item-body {
  text-align: center;
  margin-bottom: 8px;

  color: var(--slate);
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
}
.socialmedia-links-team {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.socialmedia-links-team-listitem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 20px;

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-socialmedia-link {
  fill: var(--cloud);
}
.socialmedia-links-team-listitem:hover {
  background-color: var(--ocean);
}
.socialmedia-links-team-listitem:focus {
  background-color: var(--ocean);
}

/* Customer Section */

.section-customer {
  background-color: var(--white);
  padding-top: 120px;
  padding-bottom: 120px;
}
.container-customer {
  display: block;
}
.section-customer-title {
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 72px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.1em;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.customer-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  list-style: none;
}
.customer-listitem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid var(--lightslate);

  transition-property: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-listitem:hover {
  border-color: var(--ocean);
}
.icon-customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lightslate);

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-listitem:hover .icon-customer-link {
  color: var(--ocean);
}
.icon-customer {
  fill: currentColor;
}

/* Footer */

footer {
  background-color: var(--navyblue);
}
.section-footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
.container-footer {
  display: flex;
  padding-left: 0px;
  padding-right: 3px;
  justify-content: flex-start;
  align-items: flex-start;
}
.container-tagline {
  display: block;
  width: auto;
  margin: 0;
  padding: 0 0;
}
.footer-body {
  margin-top: 16px;
  color: var(--cloud);
  /* Body */
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
}
.logo-studio-footer {
  color: var(--cloud);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.container-socialmedia {
  display: block;
  width: auto;
  margin: 0;
  margin-left: 120px;
}
.socialmedia-footer {
  color: var(--white);
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.32px;
}
.socialmedia-links-footer {
  list-style: none;
  display: flex;
  gap: 24px;
}
.socialmedia-links-footer-listitem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 20px;

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socialmedia-links-footer-listitem:hover {
  background-color: var(--green);
}
.socialmedia-links-footer-listitem:focus {
  background-color: var(--green);
}
.container-form-subcribe {
  display: block;
  width: auto;
  margin: 0;
  margin-left: 80px;
  padding: 0 0;
}
.form-subscribe {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 24px;
}
.form-subscribe-label {
  position: relative;
  display: block;
  margin: 0;
}
.form-subscribe-text {
  display: block;
  position: relative;
  color: var(--white);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.32px;
}
.input-subscribe {
  outline: 0;
  display: block;
  width: 264px;
  height: 40px;
  margin-top: 16px;
  padding: 8px 16px;
  border: 1px solid var(--white);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: var(--white);

  font-style: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 200em;
  letter-spacing: 0.48px;

  transition-property: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-subscribe:focus,
.input-subscribe:hover {
  border-color: var(--iris);
}
.input-subscribe::placeholder {
  color: var(--white);
}
.button-subscribe {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background-color: var(--iris);

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-subscribe:hover {
  background-color: var(--ocean);
}
.text-button-subscribe {
  margin: 0;
  color: var(--white);
  text-align: center;

  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.5em;
  letter-spacing: 0.64px;
}
.icon-subscribe {
  margin: 0;
  width: 24px;
  height: 24px;
  fill: var(--white);
}

/* Modal */

.container-modal {
  display: flex;
  opacity: 1;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  pointer-events: auto;

  transition-property: visibility, opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.container-modal.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.container-modal.is-hidden .container-modal-content {
  transform: scale(0.8);
}
.container-modal-content {
  position: relative;
  padding: 72px 24px 24px;
  justify-content: end;
  align-items: start;
  width: 408px;
  height: 584px;
  border-radius: 4px;
  background: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  transform: none;
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(46, 47, 66, 0.4);
  border-radius: 12px;
  cursor: pointer;

  transition-property: border-color, background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-modal-close {
  fill: var(--navyblue);

  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal-close:hover {
  background-color: var(--ocean);
  border-color: var(--ocean);
}
.button-modal-close:hover .icon-modal-close {
  fill: var(--white);
}
.modal-content-title {
  color: var(--navyblue);
  text-align: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  margin-bottom: 34px;
}
.form-contact-info {
  position: relative;
  display: block;
}
.form-input-label {
  position: relative;
  display: block;
  margin-bottom: 26px;
}
.form-label-text {
  display: block;
  position: absolute;
  bottom: calc(100% + 4px);
  color: var(--lightslate);

  font-size: 12px;
  font-weight: 400;
  line-height: 1.16em;
  letter-spacing: 0.48px;
}
.input-contact-info {
  outline: 0;
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px 16px 8px 38px;
  border: 1px;
  border-style: solid;
  border-color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  color: var(--navyblue);

  font-style: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16em;
  letter-spacing: 0.48px;

  transition-property: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-contact-info:focus,
.input-contact-info:hover {
  border-color: var(--iris);
}
.input-contact-info:focus + .icon-form,
.input-contact-info:hover + .icon-form {
  fill: var(--iris);
}
.icon-form {
  position: absolute;
  width: 18px;
  height: 24px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--navyblue);

  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment-label {
  position: relative;
  display: block;
  margin-bottom: 16px;
}
.input-comment {
  outline: 0;
  display: block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  resize: none;
  padding: 8px 16px;
  border-style: solid;
  border-color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  color: var(--navyblue);

  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16em;
  letter-spacing: 0.48px;

  transition-property: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);

  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16em;
  letter-spacing: 0.48px;
}
.input-comment:focus,
.input-comment:hover {
  border-color: var(--iris);
}
.form-checkbox-label {
  position: relative;
  display: flex;
  margin-bottom: 24px;
  align-items: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
.form-checkbox-text {
  color: var(--lightslate);

  font-size: 12px;
  font-weight: 400;
  line-height: 1.16em;
  letter-spacing: 0.48px;
}
.icon-modal-check {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  border: solid 2px rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: var(--white);

  transition-property: background-color, border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-form-checkbox:checked + .icon-modal-check {
  background-color: var(--ocean);
  border-color: var(--ocean);
}
.form-checkbox-label:hover .icon-modal-check {
  border-color: var(--ocean);
}
.policy-link {
  color: var(--iris);

  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}
.button-modal-submit {
  display: flex;
  padding: 16px 32px;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;

  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition-property: background;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal-submit:hover {
  background: var(--ocean);
}
.text-button-send {
  width: 105px;
  color: var(--white);
  text-align: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.64px;
}

/* Portfolio Page */

/* Main */

/* Filter Section */

.section-categories {
  padding-top: 96px;
  padding-bottom: 72px;
}
.container-categories {
  background-color: var(--white);
}
.section-categories-title {
  display: none;
}
.categories-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  list-style: none;
}
.categories-list-item-button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background: var(--cloud);
  color: var(--iris);
  text-align: center;

  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.64px;

  transition-property: color, background, border-color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.categories-list-item-button:hover {
  color: var(--white);

  background: var(--ocean);
  border-color: var(--ocean);

  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.categories-list-item-button:active {
  color: var(--white);

  background: var(--ocean);
  border-color: var(--ocean);

  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.categories-list-item-button:focus {
  color: var(--white);

  background: var(--ocean);
  border-color: var(--ocean);

  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* Project Card Section */

.section-projects {
  padding-bottom: 120px;
  background-color: var(--white);
}
.section-projects-title {
  display: none;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 48px;
  list-style: none;
}
.project-list-item {
  width: 370px;
  background: var(--white);
}
.container-project-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--cornflower);
  border-top: unset;

  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list-item:hover .container-project-content {
  border-color: var(--cloud);
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.project-list-item-figure {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.project-list-item-figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.project-list-item-figure figcaption {
  position: absolute;
  display: flex;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  flex-wrap: wrap;
  text-align: left;

  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);

  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
}
.project-list-item:hover figcaption {
  transform: translateY(0);
}
.project-list-item-title {
  margin-bottom: 8px;
  color: var(--navyblue);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.4px;
}
.project-list-item-category {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
}
